In [8]:
import pandas as pd

df = pd.read_csv('./sample.csv')
print(df)

df.head(5)

df.iloc[::2, ::2]

df.query('age >=35 and pref == "Tokyo"')

            name  age     pref
0         Tanaka   25    Tokyo
1         Suzuki   30  Saitama
2           Sato   20    Aichi
3        Nishino   49     Saga
4         Oosawa   58   Kouchi
5      Ishibashi   42      NaN
6  TokyoKatagiri   21  Fukuoka
7           Mita   35    Tokyo
8       Fujisawa   47  Ibaraki
9           Oota   17  Okinawa

   name  age   pref
7  Mita   35  Tokyo